<div class="topbar">
	{{> header}}
	{{> category}}
</div>
<div class="card">
<ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">{{product.[0].maincategory}}</a>
            </li>
            <li class="breadcrumb-item active">{{product.[0].subCategory}} / {{product.[0].type}} / {{product.[0].title}}  </li>
        </ol>
</div>
<div class="card">
	<div class="row no-gutters">
		<aside class="col-sm-5 border-right">
			<article class="gallery-wrap">
				<div class="img-big-wrap">
					<div> <a href="{{product.[0].imageone}}" data-fancybox=""><img id="main" src="{{product.[0].imageone}}"></a></div>
				</div> <!-- slider-product.// -->
				<div class="img-small-wrap">
					<div class="item-gallery"> <img id="sub1" src="{{product.[0].imageone}}"></div>
					<div class="item-gallery"> <img id="sub2" src="{{product.[0].imagetwo}}"></div>
					<div class="item-gallery"> <img id="sub3" src="{{product.[0].imagethree}}"></div>
				</div> <!-- slider-nav.// -->
			</article> <!-- gallery-wrap .end// -->
		</aside>
		<aside class="col-sm-7">
			<article class="p-5">

				<h2 class="title mb-3">{{product.[0].title}}</h2>
				<dl class="row">
					<dd class="col-sm-9">{{product.[0].maincategory}} / {{product.[0].subCategory}}</dd>
				</dl>

				<div class=" lg-3 mb-3">

					<div class="price-wrap h4">
						<span class="price-new">₹{{math product.[0].oldPrice.[1] "-" (round (math ( math product.[0].oldPrice.[1] "*"
							product.[0].newPrice ) "/" 100))}}</span>
						<del class="price-old">₹{{product.[0].oldPrice.[1]}}</del>
						<span class="price-per">{{product.[0].newPrice}}% off</span>
					</div>
					<div class="price-wrap h4">
						<span class="price-new a2z">A2Z price :</span>
						<span class="price-new">₹{{math product.[0].oldPrice.[1] "-" (round (math ( math product.[0].oldPrice.[1] "*"
							product.[0].a2zPrice ) "/" 100))}}</span>
						<span class="price-pera2z">{{product.[0].a2zPrice}}% off</span>
					</div>


				</div> <!-- price-detail-wrap .// -->

				<div class="rating-wrap">
					<ul class="rating-stars">
						<li style="width:80%" class="stars-active">
							{{#for product.[0].rating}}
							<span> <i class="fa fa-star"></i></span>
							{{/for}}
						</li>
						<li>
							{{#for product.[0].rating}}
							<span> <i class="fa fa-star"></i></span>
							{{/for}}
						</li>
					</ul>
					<div class="label-rating">{{product.[0].ratecount}} ratings</div>
				</div> <!-- rating-wrap.// -->
				<hr>
				<div class="row">

					<div class="col-sm-10">
						<dl class="dlist-inline">
							<dt>Color: </dt>
							<dd>
								<select class="form-control form-control-sm" style="width:70px;">
									{{#each product.[0].details}}
									<option> {{this}}</option>
									{{/each}}
								</select>
							</dd>
						</dl> <!-- item-property .// -->
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10">
						<dl class="dlist-inline">
							<dt>Quantity: </dt>
							<dd>
								<select class="form-control form-control-sm" style="width:70px;">
									<option> 1 </option>
									<option> 2 </option>
									<option> 3 </option>
								</select>
							</dd>
						</dl> <!-- item-property .// -->
					</div>
					<!-- col.// -->
					<!-- col.// -->
				</div>

				<div class="row">
					<div class="col-sm-10">
						<dl class="dlist-inline">
							<dt>Size: </dt>
							<dd>
								{{#each product.[0].size}}
								<label class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
									<span class="form-check-label">{{this}}</span>
								</label>
								{{/each}}
							</dd>
						</dl> <!-- item-property .// -->
					</div>
				</div> <!-- row.// -->
				<hr>
				<a href="#" class="btn  btn-success"> Buy now </a>
				<a href="#" class="btn  btn-primary"> Add to cart </a>
			</article> <!-- card-body.// -->
		</aside> <!-- col.// -->
	</div>

	<!-- row.// -->
</div>
<!-- card.// -->
<dl>
	<div class="card">
		<div class="card-header">
			<h2>Description</h2>
		</div>
		<div class="card-body">
			<p>{{product.[0].description}}</p>
		</div>
	</div>
{{> footer}}